body {
    margin: 0;
    overflow: hidden;
    background: #222;
    font-family: Arial;
}

/* Menu */
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#menu button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}

/* HUD */
#hud {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: white;
    display: none;
    gap: 20px;
}

/* Bouton fuyant */
#bouton-fuyant {
    position: absolute;
    font-size: 20px;
    padding: 12px 25px;
    background: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

/* Écran de fin */
#fin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: none;
}

#fin button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}

#menu button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
